*{
    margin: 0;
    padding: 0;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border:2px solid black;
    text-align:start ;
    position: relative;
   top: 10px;
   text-align: center;
 
}
#divcontainer{
height: 400px;
width: 1392px;
text-align: center;
display: flex;
flex-direction: row;
}
h1{ 
text-align: center;
}
#box1{
    background-color: aquamarine;
}

#box2{
    background-color: slategray;
}
#box3{
    background-color: tomato;
}

#box4{
    background-color: steelblue;
}

#box5{
    background-color:teal;
}