*{
    margin: 0;
    padding: 0;
}

.loader{
    height: 300px;
    width: 300px;
    position: relative; 
    left: 90px;
    top: 20px;
   border: 20px solid #1A535C;
   border-top: 10px solid #f7fff7;
   animation:spinanimate;
   /* animation-duration: 2sec;
   animation-timing-function: ease-in;
   animation-delay: null;
   animation-direction: normal; 
   animation: spinanimate 2s linear 0s infinite normal;*/
    border-radius: 50%
    
}
@keyframes spinanimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}