*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(2, 29, 50);
}

#navbar{
    background-color: black;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    padding: 15px;
    
}
button{
    background-color:#f08804;
    border-color:#f08804;
    cursor: pointer;
    border-radius: 10px;
    width: 90px;
    
}
#text{
    border: none;
    outline: none;
    text-overflow: ellipsis;
    
}
#logo{
    color: #f08804;
    font-size:40px
}
#contactid{
    font-weight:60px;
}
a{
    margin-right:150px;
    color: #fff;
    text-decoration: none;
}